{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
  {% if topic == 'has_death_penalty' %}
    Death Penalty for homosexual acts
  {% elif topic == 'is_illegal' %}
    Homosexual acts are illegal
  {% elif topic == 'has_employment_protection' %}
    Has protection against discrimination in employment based on sexual orientation
  {% elif topic == 'has_hate_crime_protection' %}
    Has protection against hate crime based on sexual orientation
  {% elif topic == 'has_marriage_recognition' %}
    Marriage open for same sex couples
  {% endif %}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'country/country.css' %}">
  <link rel="stylesheet" href="{% static 'topic/topic.css' %}">
{% endblock %}

{% block content %}
  <div class="graph">
    {% if topic == 'has_death_penalty' %}
      <h3>Death Penalty for homosexual acts</h3>
    {% elif topic == 'is_illegal' %}
      <h3>Homosexual acts are illegal</h3>
    {% elif topic == 'has_employment_protection' %}
      <h3>Has protection against discrimination in employment based on sexual orientation</h3>
    {% elif topic == 'has_hate_crime_protection' %}
      <h3>Has protection against hate crime based on sexual orientation</h3>
    {% elif topic == 'has_marriage_recognition' %}
      <h3>Marriage open for same sex couples</h3>
    {% endif %}
    <canvas id="myChart" width="400" height="400"></canvas>
    <h1 id="yes" style="display:none">{{numYes}}</h1>
    <h1 id="no" style="display:none">{{numNo}}</h1>
    <table class="pride-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Country</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for country in yes %}
          <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ country.country_name }}</td>
            <td>Yes</td>
          </tr>
        {% endfor %}
        {% for country in no %}
          <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ country.country_name }}</td>
            <td>No</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/Chart.js' %}"></script>
  <script src="{% static 'topic/topic.js' %}"></script>
{% endblock %}