{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ country.country_name }}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'country/country.css' %}">
{% endblock %}

{% block content %}
  <table class="pride-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">LGBT Rights</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Death Penalty for homosexual acts</td>
        {% if country.has_death_penalty %}      
          <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Homosexual acts are illegal</td>
        {% if country.is_illegal %}      
          <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Has protection against discrimination in employment based on sexual orientation</td>
        {% if country.has_employment_protection %}      
          <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Has protection against hate crime based on sexual orientation</td>
        {% if country.has_hate_crime_protection %}      
          <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Marriage open for same sex couples</td>
        {% if country.has_marriage_recognition %}      
          <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}
      </tr>
    </tbody>
  </table>
{% endblock %}